@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700;900&family=Karla:wght@200;300;500;700;800&family=Roboto:wght@300;400;500;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./img/bg-image.svg);
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Ajusta la posición de la imagen al centro */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

header {
  width: 100%;
  height: 70px;
  padding: 20px;
}
.logo img {
    margin-left:52.5px ;

}

main {
  width: 80%;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.title {
    display: flex;
    align-items: center;
    flex-direction: column;
  width: 78%;
  text-align: center;
  height: 200px;
  padding: 2px;
}
.title h1 {
    
  color: white;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 19px;
}
.title p {
   
    width: 84%;
    text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 400;
}
form {
  margin-top: 118px;
  width: 80%;
}

.form {
  margin: auto;
  margin-top: 30px;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.158);
  flex-direction: column;
  border-radius: 22px;
}
.columnas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.labeltext {
  display: flex;
  flex-direction: column;
}
span {
  color: white;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 5px;
}

input {
  border: none;
  font-size: 1rem;
  background: white;
  color: 111729;
  height: 70px;
  width: auto;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
}

input::placeholder {
  color:#CDD5E0;
  font-size: 14px;
  font-weight: 600;
}
select {
  border: none;
  background: white;
  color: #111729;
  height: 70px;
  width: auto;
  font-size: 1rem;
  border-radius: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
}
textarea {
  border-radius: 10px;
  padding: 25px;
  margin: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #111729;
  resize: none;
  outline: none;
}
.button {
  width: 100%;
  height: 70px;
  border-radius: 15px;
  border: none;
  color: #4036A9;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 20px;
  outline: none;
}


@media only screen and (max-width: 940px) {
  main {
    width: 90%;
  }
  form {
  
    width: 100%;
  }
  .title h1 {
    font-size: 7vw;
  }
  .title p {
    font-size: 4vw;
  }
}
@media only screen and (max-width: 640px) {
  form {
    margin-top: 0;
  }
  .columnas {
    display: flex;
    flex-direction: column;
  }
  .title {
    width: 100%;
  }
  .title h1 {
    font-size: 8vw;
  }
  .title p {
    font-size: 4vw;
  }
}
